<div class="accessibility">
    <div class="accessibility-container wrapper">
        <ul class="accessibility-list">
            <li><a href="#main" accesskey="1" title="Ir para conteúdo da página">Ir para o conteúdo [1]</a></li>
            <li><a href="#header" accesskey="2" title="Ir para o menu de navegação">Ir para o menu [2]</a></li>
            <li><a href="#footer" accesskey="3" title="Ir para o rodapé da página">Ir para o rodapé [3]</a></li>
        </ul>

        <ul class="accessibility-list">
            <li><a href="/acessibilidade">ACESSIBILIDADE</a></li>
            <li class="contrast"><a href="javascript:void(0);" class="contrastA">CONTRASTE</a></li>
            <li class="contrast"><a href="javascript:void(0);" class="noContrast">SEM CONTRASTE</a></li>
            <li class="source"><a href="javascript:void(0);" class="increase">A +</a></li>
            <li class="source"><a href="javascript:void(0);" class="decrease">A -</a></li>
        </ul> 
    </div>   
</div>