<footer id="footer" class="footer content">
    <div class="footer-container wrapper">
        <div class="footer-container-group">
            <div class="footer-group_item">
                <h4>Institucional</h4>
                <ul class="footer-item_list">
                    <li><a class="link" href="https://www.fateczl.edu.br/sobre">A Fatec Zona Leste</a></li>
                    <li><a class="link" href="https://www.fateczl.edu.br/local">Localização</a></li>
                    <li><a class="link" href="https://www.fateczl.edu.br/congregacao">Congregação</a></li>
                    <li><a class="link" href="https://www.fateczl.edu.br/cpa">CPA</a></li>
                </ul>
            </div>

            <div class="footer-group_item">
                <h4>Biblioteca</h4>
                <ul class="footer-item_list">
                    <li><a class="link" href="https://www.fateczl.edu.br/apoio_pesquisa">Apoio à pesquisa</a></li>
                    <li><a class="link" href="#">Consultar acervo</a></li>
                    <li><a class="link" href="#">Informações</a></li>
                    <li><a class="link" href="https://www.fateczl.edu.br/periodicos_gestao">Periódicos Científicos - Gestão Empresarial</a></li>
                    <li><a class="link" href="https://www.fateczl.edu.br/periodicos_logistica">Periódicos Científicos - Logística</a></li>
                    <li><a class="link" href="https://www.fateczl.edu.br/periodicos_polimeros">Periódicos Científicos - Polímetros</a></li>
                    <li><a class="link" href="https://www.fateczl.edu.br/tcc">TCC Online</a></li>
                </ul>
            </div>

            <div class="footer-group_item">
                <h4>Informações</h4>
                <ul class="footer-item_list">
                    <li><a class="link" href="https://www.fateczl.edu.br/">Faculdade de Tecnologia da Zona Leste</a></li>
                    <li><a class="link" href="https://www.google.com/maps/place/FATEC+Zona+Leste/@-23.5215139,-46.4787244,17z/data=!3m1!4b1!4m5!3m4!1s0x94ce61270808f47f:0xddc2deca4778eb69!8m2!3d-23.5215188!4d-46.4765357">Avenida Águia de Haia, 2983. Cidade A.E. Carvalho, CEP 03694-000, São Paulo-SP.</a></li>
                    <li><a class="link" href="javascript:void(0)">(11)2049-2600, (11)2026-0378, (11)2026-1303, (11)2041-2187</a></li>
                    <li><a class="link" href="https://www.fateczl.edu.br/contato">Fale conosco</a></li>
                    <li><a class="link" href="http://suporte.fateczl.edu.br/">Suporte DTI</a></li>
                </ul>
            </div>

            <div class="footer-group_item">
                <h4>Redes Sociais</h4>
                <ul class="footer-item_list">
                    <li class="footer-list_social">
                        <a class="link" href="https://www.facebook.com/fateczl.oficial/"><img src="./img/icon-facebook.svg" alt="Ícone do facebook com link da Fatec da Zona Leste"></a>
                        <a class="link" href="https://www.instagram.com/fateczl.oficial/"><img src="./img/icon-instagram.svg" alt="Ícone do instagram com link da Fatec da Zona Leste"></a>
                        <a class="link" href="https://twitter.com/Fateczl_oficial"><img src="./img/icon-twitter.svg" alt="Ícone do twitter com link da Fatec da Zona Leste"></a>
                        <a class="link" href="https://www.youtube.com/fateczleste"><img src="./img/icon-youtube.svg" alt="Ícone do youtube com link da Fatec da Zona Leste"></a>
                        <a class="link" href="https://www.linkedin.com/school/faculdade-de-tecnologia-zona-leste-fatec-zl/?originalSubdomain=br"><img src="./img/icon-linkedin.svg" alt="Ícone do linkedin com link da Fatec da Zona Leste"></a>
                    </li>

                    <li>Conheça nossa instituição pelos links acima.</li>
                </ul>
            </div>
        </div>
        
        <div class="footer-container_bottom">
            <div class="footer-bottom_end">
                <div class="footer-end_item">
                    <a class="link" href="./index.html"><img src="./img/logo-fatec.png" alt="Logo da fatec da zona leste"></a>
                    <p>&copy; 2022 Fatec Zona Leste</p>
                </div>

                <div class="footer-end_item">
                    <p>Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </div>
</footer>