<header id="header" class="content">
    <div class="header-container wrapper">
        <a class="logo link" href="https://www.fateczl.edu.br/">
            <img src="./img/logo-fatec.png" alt="Logo da fatec zona leste 20 anos">
        </a>

        <a class="logo-cps link" href="https://www.cps.sp.gov.br/" target="_blank" class="header-list_option">
            <img src="./img/logo-cps-sp.png" alt="Logo do cps com o governo">
        </a>
    </div>
</header>